@media screen and (min-width: 800px) and (max-width: 900px){
    #div-historia-img > div{
        border: none;
    }
    
    #div-historia-img > div > img{
        height: 500px;
        transform: none;
    }
    
    #div-promoçao-img > div{
        border: none;
    }
    
    #div-promoçao-img > div > img{
        height: 550px;
        transform: none;
    }
}


@media screen and (max-width: 800px){
    #topheader-span{
        text-align: center;
        display: block;
    }

    #header-top{
        background-color: transparent;
        padding: 20px;
        transition-duration: 0.5s;
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
    }
    
    /*#div-img-brazil{
        float: none;
        margin: auto;
    }*/
    
    menu{
        /*float: none;*/
        padding: 20px 5px 5px 5px;
        margin: auto;
    }

    menu > div{
        display: none;
    }
    
    menu > div > a{
        font-family: "Basic",Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        display: block;
        padding: 10px;
        text-align: center;
    }
    
    menu > div > a:hover{
        color: #924e36;
        border-radius: 10px;
        background-color: white;
    }

    /* main */

    #div-historia-texto{
        width: 80vw;
        margin: auto;
    }
    
    #div-historia-texto > div > p{
        max-width: 80vw;
    }

    #div-historia-img{
        width: 70vw;
        margin: auto;
        float: none;
    }
    
    #div-historia-img > div{
        width: max-content;
        margin: auto;
        border: none;
        border-radius: 15px;
    }
    
    #div-historia-img > div > img{
        width: 70vw;
        max-width: none;
        height: 300px;
        transform: none;
    }
    
    #div-promoçao-texto{
        width: 90vw;
        margin: auto;
        float: none;
    }
    
    #div-promoçao-texto > div > p{
        text-align: justify;
        max-width: none;
        width: 70vw;
    }

    h3{
        text-align: center;
        width: 70vw;
    }

    #div-promoçao-img{
        margin: auto;
        width: 70vw;
        float: none;
    }
    
    #div-promoçao-img > div{
        margin: auto;
        border: none;
    }
    
    #div-promoçao-img > div > img{
        width: 70vw;
        height: 300px;
        max-width: none;
        transform: none;
    }
    
}